*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Helvetica Neue, Helvetica, arial;
}

img[src=""] {
   display: none;
}

body, html{
	font-size: 20px;
	background-color: #D8CDCB;
	scroll-behavior: smooth;
}



#banner{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 3rem;
	box-sizing: border-box;
	background-color: rgba(99, 101, 105, 1);
	overflow-y: hidden;
	overflow-x: hidden;
	white-space: nowrap; 
	text-align: center;
}

@keyframes marquee{
	0%{
		transform: translate(100vw, 0px);
	}
	100%{
		transform: translate(-3500px, 0px);
	}
}

#banner_contents{
	tranform: translate(100vw, 0px);
	position: absolute;
	top: 0.5rem;
	left: 0;
	display: block;
	width: 3500px;
	font-size: 1.5rem;
	will-change: transform;
	font-family: Helvetica Neue, Helvetica, arial, sans;
	animation: marquee 40s infinite;
	animation-delay: -5s;
	color: #D8CDCB;
	animation-timing-function: linear;
}

#banner_contents a{
	text-decoration: none;
	background-color: #D8CDCB;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	color: black;
	display: inline-block;
}

#banner_contents a:hover{
	background-color: black;
	color: #D8CDCB;
}

#archtober_animation{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	background-image: url("../silhouttes/archtober-silhoutte-bric-full.svg");
/*	background-color: #D795A9;*/
}

#arch_logo{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-image: url("../images/archtober-logo.svg");
	width: 70%;

	height: 43.75vw;
	max-height: 75vh;
}

#intro_statement{
	position: relative;
	width: 80%;
	margin: 0 auto;
	background-color: rgba(99, 101, 105, 0.95);
	padding: 1rem;
	padding-bottom: 2rem;
	margin-bottom: 4rem;
}

#intro_statement h1{
	font-size: 1.5rem;
	font-family: Helvetica Neue, helvetica, arial;
	color: white;
	line-height: 2rem;
}

#intro_statement h1 a{
	background-color: #D8CDCB;
	color: black;
	text-decoration: none;
}

@media(any-hover: hover){
	#intro_statement h1 a:hover{
		background-color: black;
		color: #D8CDCB;
	}
}

main{
	position: relative;
	width: 100%;
	margin-top: 83vh;
	margin-bottom: 4rem;
}

ul{
	list-style: none;
}

#arch_preview li{
	display: block;
	margin: 0.5rem;
	padding: 1rem;
	vertical-align: top;
	background-color: rgba(66, 40, 42, 0.95);
	margin-right: 10%;
	margin-left: 1%;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	color: white;
	transition: margin-left 0.1s, margin-right 0.1s;
}

#arch_preview li.call_for_buildings{
	/*background-color: rgba(99, 101, 105, 0.95);*/
	background-color: rgba(255,255,255,0.95);
	color: black;
	width: 40%;
	margin: 0 auto;
	margin-top: 4rem;
}

li.small{
	width: 55%;
}

li.medium{
	width: 60%;	
}

li.large{
	width: 64%;	
}


#arch_preview li.preview_building:nth-of-type(2n){
	margin-right: 0.5rem;
	margin-left: 35%;
}

@media(any-hover: hover){
	/*#arch_preview li:hover, #arch_preview li:nth-of-type(2n):hover{
		margin-left: auto;
		margin-right: auto;
	}*/
}


li * {
	font-size: 0.9rem;
	text-decoration: none;
	font-weight: normal;
}

li h2, li h2 a{
	font-family: Helvetica Neue, Helvetica, arial;
	font-size: 1.25rem;
	font-weight: bold;
}

li h2, li h3{
	margin-bottom: 0.5rem;
}

li h4{
	width: 48%;
	margin-bottom: 1rem;
}

li h3, li h4{
	font-size: 1rem;
	font-weight: bold;
}

li h5{
	font-size: 0.6rem;
	letter-spacing: 0.08rem;
	font-family: Helvetica Neue, Helvetica, arial;
	text-transform: uppercase;
	margin-bottom: 0.5rem; 
	color: #D8CDCB;
}

li a{
	display: inline-block;
	background-color: #D8CDCB;
	color: black;
	padding-left: 0.15rem;
	padding-right: 0.15rem;
	transition: 0.1s;
}

@media(any-hover: hover){
	li a:hover{
		background-color: #D8CDCB !important;
	}

	footer li a:hover{
		background-color: black !important;
		color: #D8CDCB;
	}
}

.building_content{
	display: inline-block;
	width: 50%;
	vertical-align: bottom;
}

.building_content p, .building_content h3, .building_content h4{
	box-sizing: border-box;
	padding-right: 1rem;
}

.building_content p, #arch_preview li.call_for_buildings p{
	margin-bottom: 0.5rem;
}


.building_content p a, #arch_preview li.call_for_buildings p a{
	font-weight: bold;
	background-color: #D8CDCB;
}

@media(any-hover: hover){
	.building_content p a:hover, #arch_preview li.call_for_buildings p a:hover{
		background-color: black !important;
		color: #D8CDCB;		
	}
}

.building_content img, #arch_preview li.call_for_buildings img{
	width: 100%;
}

#arch_preview li.call_for_buildings img{
	margin-bottom: 0.25rem;
}

.building_content h5{
	font-size: 0.6rem;
	line-height: 0.7rem;
	letter-spacing: 0.02rem;
	text-transform: none;
	font-family: Helvetica Neue, Helvetica, arial;
}


footer{
	position: relative;
	padding-bottom: 8rem;
	padding-top: 2rem;
	margin-top: 16rem;
	background-color: rgba(99, 101, 105, 1);
}


footer li{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	padding: 1rem;
	width: 50%;
}


footer li p,footer li h2{
	color: white;
	font-weight: bold;
}

footer li p{
	margin-bottom: 1rem;
}

footer li p a{
	font-weight: bold;	
}

/* MOBILE STYLES */

@media(max-width: 1000px){
	.building_content{
		width: 100%;
		display: block;
		margin-bottom: 1rem;
	}
}

@media(max-width: 768px){
	
	#banner_contents{
		animation-delay: -1s;
	}

	#intro_statement{
		width: 95%;
	}

	#archtober_animation{
		height: 90vh;
	}

	main{
		margin-top: 80vh;
	}

	.building_content{
		width: 100%;
		display: block;
		margin-bottom: 1rem;
	}

	li h4{
		width: 100%;
		margin-bottom: 2rem;
	}

	 #arch_preview li.preview_building:nth-of-type(2n), #arch_preview li, #arch_preview li.call_for_buildings{
	 	width: 95%;
	 	margin-left: 2.5%;
	 	margin-right: 2.5%;
	 	margin-bottom: 1rem;
	 }

	li.small, li.medium, li.large{
		width: 95%;
	}


	footer li{
		width: 95%;
		margin-left: 2.5%;
	 	margin-right: 2.5%;
		margin-bottom: 1rem;
	}
}